# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List some commonly used libraries in Data Science</li>
    <li>Evaluate arithmetic expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-Learn

<table>
  <tr >
    <th style="text-align: center;">Data Science Tools</th>
  </tr>
  <tr>
    <td style="text-align: center;">Jupyter Notebook</td>
  </tr>
  <tr>
    <td style="text-align: center;">Hadoop</td>
  </tr>
  <tr>
    <td style="text-align: center;">Apache Spark</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by dividing by 60
mins = 200
hrs = mins/60
print(hrs)

3.3333333333333335

## Author
Mesfin Kefyalew Tolcha